:root {
    --brand-color-blue-light: #2196F3;
    --brand-color-blue: #3f51b5;    
    --brand-color-black: #000000;
    --brand-color-black-light: #212121;
    --brand-color-black-dark: #2F303A;
    --brand-color-gray: #757575;
    --brand-color-gray-light: #F5F4FA;
    --brand-color-white: #FFFFFF;
    --brand-color-address:rgba(255, 255, 255, 0.6);
}
.list {
    list-style: none;    
}
.link {
    text-decoration: none;
    /* line-height = 16.41px / 14px = 1.172*/
    line-height: 1.172;
}
.page {
    background-color: var(--brand-color-white);
    font-family: 'Roboto', sans-serif;    
    color: var(--brand-color-black-light);    
}
/* Навигация сайта */
.site-nav .link:hover, .site-nav .link:focus {
    color: var(--brand-color-blue-light);
}
/* Подсветка текущей страницы */
.site-nav .link.current {
    color: var(--brand-color-blue-light);
}
.site-nav .link {
    font-size: 14px;
    font-weight: 500;
    color: var(--brand-color-black-light);
}
/* Хедер почта телефон */
.auth-nav-element {    
    font-weight: 500;
    font-size: 14px;    
    letter-spacing: 0.02em;    
    color: var(--brand-color-gray);
}
.auth-nav-element:hover, .auth-nav-element:focus {
    color: var(--brand-color-blue-light);
}
/* Логотип */
.logo {        
    font-size: 26px;
    color: var(--brand-color-black);    
    font-family: 'Raleway', sans-serif;     
    /* line-height = 30.52px / 26px =  1.174*/
    line-height: 1.174; 
    letter-spacing: 0.03em;
}
.logo span{
    color: var(--brand-color-blue-light);
}
/* Герой */
.hero .button {    
    color: var(--brand-color-white);
    background: var(--brand-color-blue-light);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.hero {
    background: var(--brand-color-black-dark);
}
.hero-title {    
    text-transform: uppercase;
    text-align: center;    
    font-size: 44px;
    font-weight: 900;
    /* line-height = 60px / 44 px = 1.364*/
    line-height: 1.364;
    letter-spacing: 0.06em;
    color: var(--brand-color-white);
}
/* Наша команда */
.personal { 
    background: var(--brand-color-gray-light);
}
.photo-title {
    font-weight: 500;
    font-size: 16px;
    /* line-height = 18.75px / 16px = 1.172*/
    line-height: 1.172;
    text-align: center;
    letter-spacing: 0.03em;
}
.personal-text {
    /* line-height = 18.75px / 16px = 1.172*/
    line-height: 1.172;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--brand-color-gray);
}
/* Секция картинок */
.section-title {    
    font-size: 36px;
    /* line-height = 42.19px / 36px = 1.172 */
    line-height: 1.172;
    text-align: center;
    letter-spacing: 0.03em;
}

/* Секция коротких текстов */
.block-title {     
    font-size: 14px;
    /* line-height = 16.41px / 14px = 1. 172 */
    line-height: 1.172;
    letter-spacing: 0.03em;
    text-transform: uppercase;    
}
.block-text {    
    font-size: 14px;
    /* line-height = 24px / 14px = 1.714 */
    line-height: 1.714; 
    letter-spacing: 0.03em;
    color: var(--brand-color-gray);
}
/* Футер */
.logo-footer {   
    color: var(--brand-color-white);
}
.footer {    
    background: var(--brand-color-black-dark);
}
.address, .address .link {    
    font-size: 14px;
    /* line-height = 24px / 14px = 1.714 */
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--brand-color-white);
    font-style: normal;    
}
.address .link {  
    color: var(--brand-color-address);        
} 
.address .link:hover, .address .link:focus {    
    color: var(--brand-color-blue-light);
}
/* Портфолио */
.button {
    color: var(--brand-color-black-light);
    background: var(--brand-color-gray-light);
    cursor: pointer;
    border: 0;
    margin: 4px;
    height: 38px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;    
    letter-spacing: 0.03em;    
    border-radius: 4px;      
}
.button:hover, .button:focus {
    color: var(--brand-color-white);
    background: var(--brand-color-blue-light);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-card-title {
    font-size: 18px;
    /* line-height = 36px / 18px = 2 */
    line-height: 2;     
    letter-spacing: 0.06em;
}
.portfolio-card-text {
    /* line-height = 30px / 16px = 1.875 */
    line-height: 1.875; 
    letter-spacing: 0.03em;    
    color: var(--brand-color-gray);
}